body {
    background-color: lightgray;
    margin: 0 auto; 
}

main {
    margin: 0 auto;
    /* max-width: 60em; */
}

.middle {
    margin: 0 auto;
    max-width: 60em;
}

h1 {
    border-bottom: 4px double #ccc;
}

.site-header {
    background: url('../images/header.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.site-title {
    font-size: 2em;
}

.columns {
    display: flex;
}

.column2 {
    flex: 60%;
    padding-left: 100px;
}

.inte {
    columns: 100px 2;
    column-gap: 40px;
    column-count: 2;
    column-rule: 4px double #ff00ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px;
}

.intro {
    background-color: white;
    border: 2px dashed black;
    padding: 5px;
    overflow: hidden;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    min-height: 300px;
}

.cardholder {
    background-color: mediumseagreen;
    border: 2px dashed black;
    padding: 5px;
    overflow: hidden;
    width: auto;
    margin-bottom: 6em;
    min-height: 300px;
    margin: 1em auto 6em;
    max-width: 60em;
}

.card {
    background-color: white;
    border-radius: 10px;
    border-color: black;
    padding: 4px;
    border-style: solid;
    float: left;
    font-size: 10em;
    margin: 6px;
    text-align: center;
    width: auto;
    line-height: 1em;
}

.game21 {
    display: grid;
    background-color: #e1e1e1;
    border: 2px dashed black;
    padding: 5px;
    overflow: hidden;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.playerBox {
    min-height: 200px;
    border-bottom: dashed;
}

.bankBox {
    min-height: 200px;
}

.pointHolder {
    display: flex;
    justify-content: space-around;
}

.red {
    color: red;
}

.drawPage {
    margin-left: 2em;
}

.black {
    color: black;
}

input.button {
    background-color: mediumseagreen;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

input.button:hover {
    background-color: seagreen;
}
/* Table styling */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: larger;
    font-family: sans-serif;
    background-color: whitesmoke;
}

td:first-child,
th:first-child,
td:last-child,
th:last-child {
    width: 1%;
    white-space: nowrap;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

th {
    text-align: left;
}

td {
    max-width: 11em;
    overflow-wrap: break-word;
    white-space: normal;
}

tr {
    border-bottom: 1px solid #a19d9d;
}

tr:hover {
    background-color: #D6EEEE;
}

td a {
    display: block;
    text-decoration: none;
    color: inherit;
}

/* Form styling from w3schools */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 8em;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.formStyle {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/** All books*/
.coverImage {
    border-radius: 12px;
    padding: 5px;
    width: 150px;
}

/**One book*/
.coverImage.solo {
    width: 300px;
}

/** View one book*/
.grid-books {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 10px;
}

.grid-books > div {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item2 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.item3 {
    padding-left: 6em;
    padding-bottom: 2em;
    padding-top: 2em;
}

.item5 {
    grid-row: 1 / span 3;
    grid-column: 3;
}
/** Update and delete single book*/
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.button.update {
    background-color: #04AA6D;
}

.button.update:hover{
    background-color: #048857;
}

.button.delete {
    background-color: #e20505;
}

.button.delete:hover{
    background-color: #aa0404;;
}

.textarea#description{
    width: 100%;
    height: 12em;
    overflow: hidden;
    resize: vertical;
    font-size: large;
}

/**Metrics styling*/
.metrics {
    background-color: whitesmoke;
    margin: 0 8em 7em 8em;
    padding: 1em 2em;
    font-family: sans-serif;
    display: grid;
}

.metrics.images {
    margin: auto;
    padding: 2em 0;
}

table.complex td:first-child,
table.complex th:first-child,
table.complex td:last-child,
table.complex th:last-child {
    width: auto;
}

table.complex tr:hover {
    background-color: #c5fad2;
}
