{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>/ABOUT</h1>
    <h1>About mvc</h1>
    <div class="columns">
        <div class="column1">
            <a href="https://dbwebb.se/kurser/mvc-v2">Kursens hemsida</a><br>
            <a href="https://github.com/dbwebb-se/mvc">Kursrepo GitHub</a><br>
            <a href="https://github.com/studAnja22/mvc2024">My github</a>
            
        </div>
            <div class="column2">
                <p>MVC - Kursen Objektorienterade webbteknologier har sitt fokus i 
                    objektorienterade programmeringstekniker i programmeringsspråket PHP.</p>
                <p>I denna kurs kan vi ser fram emot att hantera klassiska objektorienterade 
                    konstruktioner med databaser och enhetstestning i ett webbaserat ramverk.</p>
                <p>För mer information om kursen, kika gärna på kursens syllabus på bth och på github.</p>
{% endblock %}