{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Shuffle the deck</h1>
    <h3>Get a shuffled deck for draw and draw MORE.</h3>
    {% include "deckNavbar.html.twig" %}
    <div class="cardholder">
            {% for card in shuffle %}
            <div title='{{ card.getName }}'class='{{ card.getColor }}'> &#{{ card.getUnicode }};</div>
            {% endfor %}
        </div>
{% endblock %}
