{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Anja22 Home</h1>
    <p>Hej, Jag heter Anna. Jag är utbildad till röntgensjuksköterska. 
        Jag har Ehler-Danlos syndrom, vilket är en kronisk bindvävssjukdom. 
        Detta innebär, bland annat, att jag lever med kronisk smärta som gör att det svårt för mig att arbeta som röntgensjuksköterska. 
        Jag utreds även för ADHD typ 1 nu. Jag tycker om bordspel, videospel, fotografering och virkning. Jag har två katter. </p>

{% endblock %}